# **HEALTHCARE ANALYTICS**

You've joined HealthTech Analytics as a junior data engineer. The clinical team built a normalized transactional database (3NF), but analytics queries are slow.

Your job: analyze the OLTP schema, identify performance issues, then design and build an optimized star schema.

This mirrors real-world data engineering work.

## **IMPORT PACKAGES**

In [1]:
#Import os and sys
import os
import sys 
from pathlib import Path


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from config.config import loadEnv

#Imports read files from Read files module
from Read_Files.readFile import read_sql_file

## **BYPASS KEY ERROR**

In [2]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [3]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [4]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

 * mysql+pymysql://root:***@localhost:3306/
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [5]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[('healthcare',)]

## **TABLE CREATION**

Creates the patients, specialities, , departments, providers, diagnoses, encounter diagnoses, procedures, encounter procedures, and billing tables

### **PATIENTS TABLE**

In [6]:
#Reads the sql script
patientsTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "patientsTable.sql")

#Creates the customers table
%sql $patientsTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **SPECIALITIES TABLE**

In [7]:
#Reads the sql script
specialitiesTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "specialitiesTable.sql")

#Creates the customers table
%sql $specialitiesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DEPARTMENTS TABLE**

In [8]:
#Reads the sql script
departmentsTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "departmentsTable.sql")

#Creates the customers table
%sql $departmentsTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROVIDERS**

In [9]:
#Reads the sql script
providersTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "providersTable.sql")

#Creates the customers table
%sql $providersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTERS TABLE**

In [15]:
#Reads the sql script
encountersTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "encountersTable.sql")

#Creates the customers table
%sql $encountersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DIAGNOSES TABLE**

In [10]:
#Reads the sql script
diagnosesTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "diagnosesTable.sql")

#Creates the customers table
%sql $diagnosesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER DIAGNOSES TABLE**

In [16]:
#Reads the sql script
encounterDiagnosesTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "encounterDiagnosesTable.sql")

#Creates the customers table
%sql $encounterDiagnosesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROCEDURES TABLE**

In [17]:
#Reads the sql script
proceduresTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "proceduresTable.sql")

#Creates the customers table
%sql $proceduresTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER PROCEDURES TABLE**

In [19]:
#Reads the sql script
encounterProceduresTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "encountersProceduresTable.sql")

#Creates the customers table
%sql $encounterProceduresTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **BILLING TABLE**

In [20]:
#Reads the sql script
billingTableContent = read_sql_file(project_root / "DDL" / "Create_Tables" / "billingTable.sql")

#Creates the customers table
%sql $billingTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [21]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
10 rows affected.

[('billing',),
 ('departments',),
 ('diagnoses',),
 ('encounter_diagnoses',),
 ('encounter_procedures',),
 ('encounters',),
 ('patients',),
 ('procedures',),
 ('providers',),
 ('specialties',)]

## **INSERT VALUES INTO THE DATABASE**