# **HEALTHCARE ANALYTICS**

You've joined HealthTech Analytics as a junior data engineer. The clinical team built a normalized transactional database (3NF), but analytics queries are slow.

Your job: analyze the OLTP schema, identify performance issues, then design and build an optimized star schema.

This mirrors real-world data engineering work.

## **IMPORT PACKAGES**

In [42]:
#Import os and sys
import os
import sys 
from pathlib import Path
import json
from pprint import pprint


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from config.config import loadEnv

#Imports read files from Read files module
from Read_Files.readFile import read_sql_file

## **BYPASS KEY ERROR**

In [2]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [3]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [4]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

 * mysql+pymysql://root:***@localhost:3306/
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [5]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[('healthcare',)]

## **ONLINE TRANSACTION PROCESSING (OLTP)**

## **TABLE CREATION**

Creates the patients, specialties, , departments, providers, diagnoses, encounter diagnoses, procedures, encounter procedures, and billing tables

#### **PATIENTS TABLE**

In [6]:
#Reads the sql script
patientsTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "patientsTable.sql")

#Creates the customers table
%sql $patientsTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **SPECIALTIES TABLE**

In [7]:
#Reads the sql script
specialtiesTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "specialtiesTable.sql")

#Creates the customers table
%sql $specialtiesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DEPARTMENTS TABLE**

In [8]:
#Reads the sql script
departmentsTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "departmentsTable.sql")

#Creates the customers table
%sql $departmentsTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROVIDERS TABLE**

In [9]:
#Reads the sql script
providersTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "providersTable.sql")

#Creates the customers table
%sql $providersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTERS TABLE**

In [10]:
#Reads the sql script
encountersTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "encountersTable.sql")

#Creates the customers table
%sql $encountersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DIAGNOSES TABLE**

In [11]:
#Reads the sql script
diagnosesTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "diagnosesTable.sql")

#Creates the customers table
%sql $diagnosesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER DIAGNOSES TABLE**

In [12]:
#Reads the sql script
encounterDiagnosesTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "encounterDiagnosesTable.sql")

#Creates the customers table
%sql $encounterDiagnosesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROCEDURES TABLE**

In [13]:
#Reads the sql script
proceduresTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "proceduresTable.sql")

#Creates the customers table
%sql $proceduresTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER PROCEDURES TABLE**

In [14]:
#Reads the sql script
encounterProceduresTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "encountersProceduresTable.sql")

#Creates the customers table
%sql $encounterProceduresTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **BILLING TABLE**

In [15]:
#Reads the sql script
billingTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "billingTable.sql")

#Creates the customers table
%sql $billingTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [16]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
10 rows affected.

[('billing',),
 ('departments',),
 ('diagnoses',),
 ('encounter_diagnoses',),
 ('encounter_procedures',),
 ('encounters',),
 ('patients',),
 ('procedures',),
 ('providers',),
 ('specialties',)]

## **INSERT VALUES INTO THE DATABASE**

### **INSERT INTO SPECIALTIES**

In [17]:
#Reads the sql script
specialtiesContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoSpecialties.sql")

#Creates the orders table
%sql $specialtiesContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [18]:
%%sql

#Reads all the data in the specialities table

SELECT * FROM `specialties`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(1, 'Cardiology', 'CARD'),
 (2, 'Internal Medicine', 'IM'),
 (3, 'Emergency', 'ER')]

### **INSERT INTO DEPARTMENTS**

In [19]:
#Reads the sql script
departmentsContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoDepartments.sql")

#Creates the orders table
%sql $departmentsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [20]:
%%sql

#Reads all the data in the departments table

SELECT * FROM `departments`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(1, 'Cardiology Unit', 3, 20),
 (2, 'Internal Medicine', 2, 30),
 (3, 'Emergency', 1, 45)]

### **INSERT INTO PROVIDERS**

In [21]:
#Reads the sql script
providersContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoProviders.sql")

#Creates the orders table
%sql $providersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [22]:
%%sql

#Reads all the data in the providers table

SELECT * FROM `providers`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(101, 'James', 'Chen', 'MD', 1, 1),
 (102, 'Sarah', 'Williams', 'MD', 2, 2),
 (103, 'Michael', 'Rodriguez', 'MD', 3, 3)]

### **INSERT INTO PATIENTS**

In [23]:
#Reads the sql script
patientsContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoPatients.sql")

#Creates the orders table
%sql $patientsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [24]:
%%sql

#Reads all the data in the patients table

SELECT * FROM `patients`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(1001, 'John', 'Doe', datetime.date(1955, 3, 15), 'M', 'MRN001'),
 (1002, 'Jane', 'Smith', datetime.date(1962, 7, 22), 'F', 'MRN002'),
 (1003, 'Robert', 'Johnson', datetime.date(1948, 11, 8), 'M', 'MRN003')]

### **INSERT INTO DIAGNOSES**

In [25]:
#Reads the sql script
diagnosesContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoDiagnoses.sql")

#Creates the orders table
%sql $diagnosesContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [26]:
%%sql

#Reads all the data in the diagnoses table

SELECT * FROM `diagnoses`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(3001, 'I10', 'Hypertension'),
 (3002, 'E11.9', 'Type 2 Diabetes'),
 (3003, 'I50.9', 'Heart Failure')]

### **INSERT INTO PROCEDURES**

In [27]:
#Reads the sql script
proceduresContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoProcedures.sql")

#Creates the orders table
%sql $proceduresContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [28]:
%%sql

#Reads all the data in the procedures table

SELECT * FROM `procedures`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(4001, '99213', 'Office Visit'),
 (4002, '93000', 'EKG'),
 (4003, '71020', 'Chest X-ray')]

### **INSERT INTO ENCOUNTERS**

In [29]:
#Reads the sql script
encountersContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoEncounters.sql")

#Creates the orders table
%sql $encountersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[]

In [30]:
%%sql

#Reads all the data in the encounters table

SELECT * FROM `encounters`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[(7001, 1001, 101, 'Outpatient', datetime.datetime(2024, 5, 10, 10, 0), datetime.datetime(2024, 5, 10, 11, 30), 1),
 (7002, 1001, 101, 'Inpatient', datetime.datetime(2024, 6, 2, 14, 0), datetime.datetime(2024, 6, 6, 9, 0), 1),
 (7003, 1002, 102, 'Outpatient', datetime.datetime(2024, 5, 15, 9, 0), datetime.datetime(2024, 5, 15, 10, 15), 2),
 (7004, 1003, 103, 'ER', datetime.datetime(2024, 6, 12, 23, 45), datetime.datetime(2024, 6, 13, 6, 30), 3)]

### **INSERT INTO BILLING**

In [31]:
#Reads the sql script
billingContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoBilling.sql")

#Creates the orders table
%sql $billingContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
2 rows affected.

[]

In [32]:
%%sql

#Reads all the data in the billing table

SELECT * FROM `billing`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
2 rows affected.

[(14001, 7001, Decimal('350.00'), Decimal('280.00'), datetime.date(2024, 5, 11), 'Paid'),
 (14002, 7002, Decimal('12500.00'), Decimal('10000.00'), datetime.date(2024, 6, 8), 'Paid')]

### **INSERT INTO ENCOUNTERS DIAGNOSES**

In [33]:
#Reads the sql script
encounterDiagnosesContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoEncounterDiagnoses.sql")

#Creates the orders table
%sql $encounterDiagnosesContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
6 rows affected.

[]

In [34]:
%%sql

#Reads all the data in the encounter diagnoses table

SELECT * FROM `encounter_diagnoses`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
6 rows affected.

[(8001, 7001, 3001, 1),
 (8002, 7001, 3002, 2),
 (8003, 7002, 3001, 1),
 (8004, 7002, 3003, 2),
 (8005, 7003, 3002, 1),
 (8006, 7004, 3001, 1)]

### **INSERT INTO ENCOUNTER PROCEDURES**

In [35]:
#Reads the sql script
encounterProceduresContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoEncounterProcedures.sql")

#Creates the orders table
%sql $encounterProceduresContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[]

In [36]:
%%sql

#Reads all the data in the encounter procedures table

SELECT * FROM `encounter_procedures`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[(9001, 7001, 4001, datetime.date(2024, 5, 10)),
 (9002, 7001, 4002, datetime.date(2024, 5, 10)),
 (9003, 7002, 4001, datetime.date(2024, 6, 2)),
 (9004, 7003, 4001, datetime.date(2024, 5, 15))]

## **ANALYTICAL QUERIES**

### **MONTHLY ENCOUNTERS BY SPECIALITY**

In [37]:
#Reads the sql script
monthlyEncountersContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "monthlyEncounters.sql")

In [38]:
#Creates the orders table
%sql $monthlyEncountersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[('2024-05', 'Cardiology', 'Outpatient', 1, 1),
 ('2024-05', 'Internal Medicine', 'Outpatient', 1, 1),
 ('2024-06', 'Cardiology', 'Inpatient', 1, 1),
 ('2024-06', 'Emergency', 'ER', 1, 1)]

### **TOP DIAGNOSES-PROCEDURE PAIRS**

In [39]:
#Reads the sql script
topDiagnosesProceduresContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "topDiagnosesProcedures.sql")

#Creates the orders table
%sql $topDiagnosesProceduresContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
5 rows affected.

[('E11.9', '99213', 2),
 ('I10', '99213', 2),
 ('E11.9', '93000', 1),
 ('I10', '93000', 1),
 ('I50.9', '99213', 1)]

### **30 DAY READMISSION RATE**

In [40]:
#Reads the sql script
readmissionRateContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "readmissionRate.sql")

#Creates the orders table
%sql $readmissionRateContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[('Cardiology', 1, Decimal('0'), Decimal('0.00'))]

### **REVENUE BY SPECIALTY AND MONTH**

In [41]:
#Reads the sql script
revenueBySpecialtyContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "revenueBySpecialty.sql")

#Creates the orders table
%sql $revenueBySpecialtyContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
2 rows affected.

[('2024-06', 'Cardiology', Decimal('10000.00')),
 ('2024-05', 'Cardiology', Decimal('280.00'))]

## **SQL SQUERY ANALYSIS**

### **DETAILED EXPLANATION OF THE MONTHLY ENCOUNTERS BY SPECIALITY SQL STATEMENT**

In [43]:
explained_sql = f"EXPLAIN FORMAT=JSON {monthlyEncountersContent}"
result = %sql $explained_sql

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

In [44]:
explain_json = json.loads(result[0][0])
pprint(explain_json)

{'json_schema_version': '2.0',
 'query': "/* select#1 */ select date_format(`e`.`encounter_date`,'%Y-%m') AS "
          '`encounter_month`,`s`.`specialty_name` AS '
          '`specialty_name`,`e`.`encounter_type` AS '
          '`encounter_type`,count(`healthcare`.`encounters`.`encounter_id`) AS '
          '`total_encounters`,count(distinct '
          '`healthcare`.`encounters`.`patient_id`) AS `unique_patients` from '
          '`healthcare`.`encounters` `e` join `healthcare`.`providers` `p` '
          'join `healthcare`.`specialties` `s` where ((`e`.`provider_id` = '
          '`p`.`provider_id`) and (`s`.`specialty_id` = `p`.`specialty_id`)) '
          'group by '
          '`encounter_month`,`s`.`specialty_name`,`e`.`encounter_type` order '
          'by `encounter_month`,`s`.`specialty_name`,`e`.`encounter_type`',
 'query_plan': {'access_type': 'aggregate',
                'functions': ['count(encounters.encounter_id)',
                              'count(distinct encounters.patient_id)'],
                'group_by': True,
                'inputs': [{'access_type': 'sort',
                            'inputs': [{'access_type': 'stream',
                                        'estimated_rows': 4.0000001192092896,
                                        'estimated_total_cost': 3.0000000417232515,
                                        'inputs': [{'access_type': 'join',
                                                    'estimated_rows': 4.0000001192092896,
                                                    'estimated_total_cost': 3.0000000417232515,
                                                    'inputs': [{'access_type': 'join',
                                                                'estimated_rows': 3.0,
                                                                'estimated_total_cost': 1.6,
                                                                'inputs': [{'access_type': 'filter',
                                                                            'condition': '(p.specialty_id '
                                                                                         'is '
                                                                                         'not '
                                                                                         'null)',
                                                                            'estimated_rows': 3.0,
                                                                            'estimated_total_cost': 0.55,
                                                                            'filter_columns': ['p.specialty_id'],
                                                                            'inputs': [{'access_type': 'index',
                                                                                        'alias': 'p',
                                                                                        'covering': True,
                                                                                        'estimated_rows': 3.0,
                                                                                        'estimated_total_cost': 0.55,
                                                                                        'index_access_type': 'index_scan',
                                                                                        'index_name': 'specialty_id',
                                                                                        'operation': 'Covering '
                                                                                                     'index '
                                                                                                     'scan '
                                                                                                     'on '
                                                                                                     'p '
                                                                                                     'using '
                                                                                                     'specialty_id',
                                                                                        'schema_name': 'healthcare',
                                                                                        'table_name': 'providers',
                                                                                        'used_columns': ['provider_id',
                                                                                                         'specialty_id']}],
                                                                            'operation': 'Filter: '
                                                                                         '(p.specialty_id '
                                                                                         'is '
                                                                                         'not '
                                                                                         'null)'},
                                                                           {'access_type': 'index',
                                                                            'alias': 's',
                                                                            'covering': False,
                                                                            'estimated_rows': 1.0,
                                                                            'estimated_total_cost': 0.2833333333333333,
                                                                            'index_access_type': 'index_lookup',
                                                                            'index_name': 'PRIMARY',
                                                                            'key_columns': ['specialty_id'],
                                                                            'lookup_condition': 'specialty_id '
                                                                                                '= '
                                                                                                'p.specialty_id',
                                                                            'lookup_references': ['healthcare.p.specialty_id'],
                                                                            'operation': 'Single-row '
                                                                                         'index '
                                                                                         'lookup '
                                                                                         'on '
                                                                                         's '
                                                                                         'using '
                                                                                         'PRIMARY '
                                                                                         '(specialty_id '
                                                                                         '= '
                                                                                         'p.specialty_id)',
                                                                            'schema_name': 'healthcare',
                                                                            'table_name': 'specialties',
                                                                            'used_columns': ['specialty_id',
                                                                                             'specialty_name']}],
                                                                'join_algorithm': 'nested_loop',
                                                                'join_type': 'inner '
                                                                             'join',
                                                                'operation': 'Nested '
                                                                             'loop '
                                                                             'inner '
                                                                             'join'},
                                                               {'access_type': 'index',
                                                                'alias': 'e',
                                                                'covering': False,
                                                                'estimated_rows': 1.3333333730697632,
                                                                'estimated_total_cost': 0.3777777890364329,
                                                                'index_access_type': 'index_lookup',
                                                                'index_name': 'provider_id',
                                                                'key_columns': ['provider_id'],
                                                                'lookup_condition': 'provider_id '
                                                                                    '= '
                                                                                    'p.provider_id',
                                                                'lookup_references': ['healthcare.p.provider_id'],
                                                                'operation': 'Index '
                                                                             'lookup '
                                                                             'on '
                                                                             'e '
                                                                             'using '
                                                                             'provider_id '
                                                                             '(provider_id '
                                                                             '= '
                                                                             'p.provider_id)',
                                                                'schema_name': 'healthcare',
                                                                'table_name': 'encounters',
                                                                'used_columns': ['encounter_id',
                                                                                 'patient_id',
                                                                                 'provider_id',
                                                                                 'encounter_type',
                                                                                 'encounter_date']}],
                                                    'join_algorithm': 'nested_loop',
                                                    'join_type': 'inner join',
                                                    'operation': 'Nested loop '
                                                                 'inner join'}],
                                        'operation': 'Stream results'}],
                            'operation': 'Sort: encounter_month, '
                                         's.specialty_name, e.encounter_type',
                            'sort_fields': ['encounter_month',
                                            's.specialty_name',
                                            'e.encounter_type']}],
                'operation': 'Group aggregate: count(encounters.encounter_id), '
                             'count(distinct encounters.patient_id)'},
 'query_type': 'select'}

## **ONLINE ANALYTICAL PROCESSING (OLAP)**

## **CREATE DIMENSION TABLES**

### **DATE DIMENSION**

In [45]:
#Reads the sql script
dateDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "dateDimension.sql")

#Creates the orders table
%sql $dateDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PATIENT DIMENSION**

In [46]:
#Reads the sql script
patientDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "patientDimension.sql")

#Creates the orders table
%sql $patientDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROVIDER DIMENSION**

In [47]:
#Reads the sql script
providerDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "providerDimension.sql")

#Creates the orders table
%sql $providerDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **SPECIALTY DIMENSION**

In [48]:
#Reads the sql script
specialtyDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "specialtyDimension.sql")

#Creates the orders table
%sql $specialtyDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DEPARTMENT DIMENSION**

In [49]:
#Reads the sql script
departmentDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "departmentDimension.sql")

#Creates the orders table
%sql $departmentDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER TYPE DIMENSION**

In [50]:
#Reads the sql script
encounterTypeDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "encounterTypeDimension.sql")

#Creates the orders table
%sql $encounterTypeDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DIAGNOSIS DIMENSION**

In [51]:
#Reads the sql script
diagnosisDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "diagnosisDimension.sql")

#Creates the orders table
%sql $diagnosisDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **FACT ENCOUNTER TABLE**

In [ ]:
#Reads the sql script
factEncounterContent = read_sql_file(project_root / "OLAP" / "DDL" / "Fact_Tables" / "factEncounter.sql")

In [68]:
%%sql 
$factEncounterContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **BRIDGE TABLES**

### **BRIDGE ENCOUNTER DIAGNOSIS**

In [69]:
#Reads the sql script
bridgeEncounterDiagnosisContent = read_sql_file(project_root / "OLAP" / "DDL" / "Bridge_Tables" / "bridgeEncounterDiagnosis.sql")

#Creates the orders table
%sql $bridgeEncounterDiagnosisContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **BRIDGE ENCOUNTER PROCEDURES**

In [70]:
#Reads the sql script
bridgeEncounterProcedureContent = read_sql_file(project_root / "OLAP" / "DDL" / "Bridge_Tables" / "bridgeEncounterProcedure.sql")

#Creates the orders table
%sql $bridgeEncounterProcedureContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **ETL DATA FROM OLTP TABLES INTO OLAP DIMENSION TABLES**

### **POPULATE DEPARTMENT DIMENSION**

In [72]:
#Reads the sql script
populateDepartmentContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateDepartmentDim.sql")

#Creates the orders table
%sql $populateDepartmentContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE DATE DIMENSION**

In [75]:
#Reads the sql script
populateDateContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateDateDim.sql")

#Creates the orders table
%sql $populateDateContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1461 rows affected.

[]

### **POPULATE SPECIALTY DIMENSION**

In [78]:
#Reads the sql script
populateSpecialtyContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateSpecialtyDim.sql")

#Creates the orders table
%sql $populateSpecialtyContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE ENCOUNTER TYPE DIMENSION**

In [ ]:
#Reads the sql script
populateEncounterTypeContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateEncounterTypeDim.sql")

#Creates the orders table
%sql $populateEncounterTypeContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE PATIENT DIMENSION**

In [80]:
#Reads the sql script
populatePatientDimContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populatePatientDim.sql")

#Creates the orders table
%sql $populatePatientDimContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE PROVIDER DIMENSION**

In [83]:
#Reads the sql script
populateProviderDimContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateProviderDim.sql")

#Creates the orders table
%sql $populateProviderDimContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.
(pymysql.err.OperationalError) (1065, 'Query was empty')
[SQL: ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### **POPULATE ENCOUNTER FACT**

In [88]:
#Reads the sql script
populateEncounterFactContent = read_sql_file(project_root / "OLAP" / "ETL" / "Facts" / "populateEncounterFact.sql")

#Creates the orders table
%sql $populateEncounterFactContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[]

In [89]:
%%sql 

SELECT * FROM fact_encounter;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[(1, 7001, 20240510, 20240510, 1, 1, 1, 1, 1, 2, 2, Decimal('1120.00'), 0, 0, datetime.datetime(2026, 1, 7, 16, 58, 53)),
 (2, 7002, 20240602, 20240606, 1, 1, 1, 1, 2, 2, 1, Decimal('20000.00'), 4, 0, datetime.datetime(2026, 1, 7, 16, 58, 53)),
 (3, 7003, 20240515, 20240515, 2, 2, 2, 2, 1, 1, 1, Decimal('0.00'), 0, 0, datetime.datetime(2026, 1, 7, 16, 58, 53)),
 (4, 7004, 20240612, 20240613, 3, 3, 3, 3, 3, 1, 0, Decimal('0.00'), 1, 0, datetime.datetime(2026, 1, 7, 16, 58, 53))]

### **POPULATE ENCOUNTER DIAGNOSIS BRIDGE TABLE**