# **HEALTHCARE ANALYTICS**

You've joined HealthTech Analytics as a junior data engineer. The clinical team built a normalized transactional database (3NF), but analytics queries are slow.

Your job: analyze the OLTP schema, identify performance issues, then design and build an optimized star schema.

This mirrors real-world data engineering work.

## **IMPORT PACKAGES**

In [1]:
#Import os and sys
import os
import sys 
from pathlib import Path


#Extarcts the root path of the project and appends it to the sys path
project_root = Path().resolve().parent
sys.path.append(str(project_root))

#Imports loadEnv from config module
from config.config import loadEnv

#Imports read files from Read files module
from Read_Files.readFile import read_sql_file

#Imports pretty qury plan
from Parse_Explain_Tree.parser import print_query_plan

## **BYPASS KEY ERROR**

In [2]:
#Resolve sthe KeyError by bypassing the missing DEFAULT key
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **LOAD CREDENTIALS**

In [3]:
#Loads the password from .env
password = loadEnv("password")
print("\033[92mPassword successfully loaded\n") if password else print("Password Not Found\n")

#Load the database from .env
database = loadEnv("database")
print("\033[92mDatabase successfully loaded") if database else print("Database Not Found")

Password successfully loaded

Database successfully loaded

## **SERVER CONNECTION AND DATABASE CREATION**

Connects to MySQL server, creates a database if the specified database is not in the already created databases and connects to that database

In [4]:
%load_ext sql
#Connects to MySQL server
%sql mysql+pymysql://root:$password@localhost:3306/

#Creates a python string to be passed to sql
sql = f"CREATE DATABASE IF NOT EXISTS `{database}`;"
%sql $sql

#Connects to the newly created database
%sql mysql+pymysql://root:$password@localhost:3306/$database

 * mysql+pymysql://root:***@localhost:3306/
1 rows affected.

## **CHECKS THE DATABASE MYSQL IS CONNECTED TO**

In [5]:
%%sql 

#Shows all the databases in the server and the database we are connected to
SELECT DATABASE();

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[('healthcare',)]

## **ONLINE TRANSACTION PROCESSING (OLTP)**

## **TABLE CREATION**

Creates the patients, specialties, , departments, providers, diagnoses, encounter diagnoses, procedures, encounter procedures, and billing tables

#### **PATIENTS TABLE**

In [6]:
#Reads the sql script
patientsTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "patientsTable.sql")

#Creates the customers table
%sql $patientsTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **SPECIALTIES TABLE**

In [7]:
#Reads the sql script
specialtiesTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "specialtiesTable.sql")

#Creates the customers table
%sql $specialtiesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DEPARTMENTS TABLE**

In [8]:
#Reads the sql script
departmentsTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "departmentsTable.sql")

#Creates the customers table
%sql $departmentsTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROVIDERS TABLE**

In [9]:
#Reads the sql script
providersTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "providersTable.sql")

#Creates the customers table
%sql $providersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTERS TABLE**

In [10]:
#Reads the sql script
encountersTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "encountersTable.sql")

#Creates the customers table
%sql $encountersTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DIAGNOSES TABLE**

In [11]:
#Reads the sql script
diagnosesTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "diagnosesTable.sql")

#Creates the customers table
%sql $diagnosesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER DIAGNOSES TABLE**

In [12]:
#Reads the sql script
encounterDiagnosesTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "encounterDiagnosesTable.sql")

#Creates the customers table
%sql $encounterDiagnosesTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROCEDURES TABLE**

In [13]:
#Reads the sql script
proceduresTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "proceduresTable.sql")

#Creates the customers table
%sql $proceduresTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **ENCOUNTER PROCEDURES TABLE**

In [14]:
#Reads the sql script
encounterProceduresTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "encountersProceduresTable.sql")

#Creates the customers table
%sql $encounterProceduresTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **BILLING TABLE**

In [15]:
#Reads the sql script
billingTableContent = read_sql_file(project_root / "OLTP" / "DDL" / "Create_Tables" / "billingTable.sql")

#Creates the customers table
%sql $billingTableContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DISPLAY ALL TABLES IN THE DATABASE**

In [16]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
10 rows affected.

[('billing',),
 ('departments',),
 ('diagnoses',),
 ('encounter_diagnoses',),
 ('encounter_procedures',),
 ('encounters',),
 ('patients',),
 ('procedures',),
 ('providers',),
 ('specialties',)]

## **INSERT VALUES INTO THE DATABASE**

### **INSERT INTO SPECIALTIES**

In [17]:
#Reads the sql script
specialtiesContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoSpecialties.sql")

#Creates the orders table
%sql $specialtiesContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [18]:
%%sql

#Reads all the data in the specialities table

SELECT * FROM `specialties`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(1, 'Cardiology', 'CARD'),
 (2, 'Internal Medicine', 'IM'),
 (3, 'Emergency', 'ER')]

### **INSERT INTO DEPARTMENTS**

In [19]:
#Reads the sql script
departmentsContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoDepartments.sql")

#Creates the orders table
%sql $departmentsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [20]:
%%sql

#Reads all the data in the departments table

SELECT * FROM `departments`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(1, 'Cardiology Unit', 3, 20),
 (2, 'Internal Medicine', 2, 30),
 (3, 'Emergency', 1, 45)]

### **INSERT INTO PROVIDERS**

In [21]:
#Reads the sql script
providersContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoProviders.sql")

#Creates the orders table
%sql $providersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [22]:
%%sql

#Reads all the data in the providers table

SELECT * FROM `providers`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(101, 'James', 'Chen', 'MD', 1, 1),
 (102, 'Sarah', 'Williams', 'MD', 2, 2),
 (103, 'Michael', 'Rodriguez', 'MD', 3, 3)]

### **INSERT INTO PATIENTS**

In [23]:
#Reads the sql script
patientsContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoPatients.sql")

#Creates the orders table
%sql $patientsContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [24]:
%%sql

#Reads all the data in the patients table

SELECT * FROM `patients`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(1001, 'John', 'Doe', datetime.date(1955, 3, 15), 'M', 'MRN001'),
 (1002, 'Jane', 'Smith', datetime.date(1962, 7, 22), 'F', 'MRN002'),
 (1003, 'Robert', 'Johnson', datetime.date(1948, 11, 8), 'M', 'MRN003')]

### **INSERT INTO DIAGNOSES**

In [25]:
#Reads the sql script
diagnosesContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoDiagnoses.sql")

#Creates the orders table
%sql $diagnosesContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [26]:
%%sql

#Reads all the data in the diagnoses table

SELECT * FROM `diagnoses`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(3001, 'I10', 'Hypertension'),
 (3002, 'E11.9', 'Type 2 Diabetes'),
 (3003, 'I50.9', 'Heart Failure')]

### **INSERT INTO PROCEDURES**

In [27]:
#Reads the sql script
proceduresContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoProcedures.sql")

#Creates the orders table
%sql $proceduresContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

In [28]:
%%sql

#Reads all the data in the procedures table

SELECT * FROM `procedures`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[(4001, '99213', 'Office Visit'),
 (4002, '93000', 'EKG'),
 (4003, '71020', 'Chest X-ray')]

### **INSERT INTO ENCOUNTERS**

In [29]:
#Reads the sql script
encountersContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoEncounters.sql")

#Creates the orders table
%sql $encountersContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[]

In [30]:
%%sql

#Reads all the data in the encounters table

SELECT * FROM `encounters`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[(7001, 1001, 101, 'Outpatient', datetime.datetime(2024, 5, 10, 10, 0), datetime.datetime(2024, 5, 10, 11, 30), 1),
 (7002, 1001, 101, 'Inpatient', datetime.datetime(2024, 6, 2, 14, 0), datetime.datetime(2024, 6, 6, 9, 0), 1),
 (7003, 1002, 102, 'Outpatient', datetime.datetime(2024, 5, 15, 9, 0), datetime.datetime(2024, 5, 15, 10, 15), 2),
 (7004, 1003, 103, 'ER', datetime.datetime(2024, 6, 12, 23, 45), datetime.datetime(2024, 6, 13, 6, 30), 3)]

### **INSERT INTO BILLING**

In [31]:
#Reads the sql script
billingContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoBilling.sql")

#Creates the orders table
%sql $billingContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
2 rows affected.

[]

In [32]:
%%sql

#Reads all the data in the billing table

SELECT * FROM `billing`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
2 rows affected.

[(14001, 7001, Decimal('350.00'), Decimal('280.00'), datetime.date(2024, 5, 11), 'Paid'),
 (14002, 7002, Decimal('12500.00'), Decimal('10000.00'), datetime.date(2024, 6, 8), 'Paid')]

### **INSERT INTO ENCOUNTERS DIAGNOSES**

In [33]:
#Reads the sql script
encounterDiagnosesContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoEncounterDiagnoses.sql")

#Creates the orders table
%sql $encounterDiagnosesContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
6 rows affected.

[]

In [34]:
%%sql

#Reads all the data in the encounter diagnoses table

SELECT * FROM `encounter_diagnoses`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
6 rows affected.

[(8001, 7001, 3001, 1),
 (8002, 7001, 3002, 2),
 (8003, 7002, 3001, 1),
 (8004, 7002, 3003, 2),
 (8005, 7003, 3002, 1),
 (8006, 7004, 3001, 1)]

### **INSERT INTO ENCOUNTER PROCEDURES**

In [35]:
#Reads the sql script
encounterProceduresContent = read_sql_file(project_root / "OLTP" / "DML" / "Insert_Data" / "insertIntoEncounterProcedures.sql")

#Creates the orders table
%sql $encounterProceduresContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[]

In [36]:
%%sql

#Reads all the data in the encounter procedures table

SELECT * FROM `encounter_procedures`;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[(9001, 7001, 4001, datetime.date(2024, 5, 10)),
 (9002, 7001, 4002, datetime.date(2024, 5, 10)),
 (9003, 7002, 4001, datetime.date(2024, 6, 2)),
 (9004, 7003, 4001, datetime.date(2024, 5, 15))]

## **ANALYTICAL QUERIES**

### **MONTHLY ENCOUNTERS BY SPECIALTY**

In [37]:
#Reads the sql script
monthlyEncountersOltpContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "monthlyEncounters.sql")

In [38]:
#Creates the orders table
%sql $monthlyEncountersOltpContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
4 rows affected.

[('2024-05', 'Cardiology', 'Outpatient', 1, 1),
 ('2024-05', 'Internal Medicine', 'Outpatient', 1, 1),
 ('2024-06', 'Cardiology', 'Inpatient', 1, 1),
 ('2024-06', 'Emergency', 'ER', 1, 1)]

### **TOP DIAGNOSIS-PROCEDURE PAIRS**

In [39]:
#Reads the sql script
topDiagnosisProceduresOltpContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "topDiagnosesProcedures.sql")

#Creates the orders table
%sql $topDiagnosisProceduresOltpContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
5 rows affected.

[('E11.9', '99213', 2),
 ('I10', '99213', 2),
 ('E11.9', '93000', 1),
 ('I10', '93000', 1),
 ('I50.9', '99213', 1)]

### **30 DAY READMISSION RATE**

In [40]:
#Reads the sql script
readmissionRateOltpContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "readmissionRate.sql")

#Creates the orders table
%sql $readmissionRateOltpContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[('Cardiology', 1, Decimal('0'), Decimal('0.00'))]

### **REVENUE BY SPECIALTY AND MONTH**

In [41]:
#Reads the sql script
revenueBySpecialtyOltpContent = read_sql_file(project_root / "OLTP" / "Analytical_Queries" / "revenueBySpecialty.sql")

#Creates the orders table
%sql $revenueBySpecialtyOltpContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
2 rows affected.

[(2024, 6, 'Cardiology', Decimal('10000.00')),
 (2024, 5, 'Cardiology', Decimal('280.00'))]

## **OLTP ANALYTICAL QUERY ANALYSIS**

### **DETAILED EXPLANATION OF THE OLTP MONTHLY ENCOUNTERS BY SPECIALITY SQL STATEMENT**

In [42]:
explained_sql = f"EXPLAIN ANALYZE {monthlyEncountersOltpContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Index lookup on e using provider_id (provider_id = p.provider_id)
         Execution Time: 0.00813..0.00997 ms
         Rows: 1
         Cost: 0.283

[Step 2] Single-row index lookup on s using PRIMARY (specialty_id = p.specialty_id)
         Execution Time: 0.00693..0.00703 ms
         Rows: 1
         Cost: 0.283

[Step 3] Covering index scan on p using specialty_id
         Execution Time: 0.0279..0.0313 ms
         Rows: 3
         Cost: 0.55

[Step 4] Filter: (p.specialty_id is not null)
         Execution Time: 0.0289..0.0331 ms
         Rows: 3
         Cost: 0.55

[Step 5] Nested loop inner join
         Execution Time: 0.0439..0.0564 ms
         Rows: 3
         Cost: 1.6

[Step 6] Nested loop inner join
         Execution Time: 0.0608..0.089 ms
         Rows: 3
         Cost: 2.65

[Step 7] Stream results
         Execution Time: 0.0724..0.106 ms
         Rows: 3
         Cost: 2.65

[Step 8] Sort: encounter_month, s.specialty_name, e.encounter_type
         Execution Time: 0.128..0.128 ms
         Rows: 4

[Step 9] Group aggregate: count(encounters.encounter_id), count(distinct encounters.patient_id)
         Execution Time: 0.137..0.14 ms
         Rows: 4

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.137 ms

Total Rows Scanned:   25.00

Total Query Cost:     8.57

================================================================================

### **DETAILED EXPLANATION OF THE OLTP TOP DIAGNOSIS-PROCEDURE PAIRS SQL STATEMENT**

In [43]:
explained_sql = f"EXPLAIN ANALYZE {topDiagnosisProceduresOltpContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Single-row covering index lookup on e using PRIMARY (encounter_id = ed.encounter_id)
         Execution Time: 0.00101..0.00106 ms
         Rows: 1
         Cost: 0.283

[Step 2] Single-row index lookup on pr using PRIMARY (procedure_id = ep.procedure_id)
         Execution Time: 0.00119..0.00121 ms
         Rows: 1
         Cost: 0.283

[Step 3] Index lookup on ep using encounter_id (encounter_id = ed.encounter_id)
         Execution Time: 0.00252..0.00323 ms
         Rows: 1
         Cost: 0.283

[Step 4] Filter: (ep.procedure_id is not null)
         Execution Time: 0.0026..0.00338 ms
         Rows: 1
         Cost: 0.283

[Step 5] Index lookup on ed using diagnosis_id (diagnosis_id = d.diagnosis_id)
         Execution Time: 0.00663..0.0073 ms
         Rows: 1
         Cost: 0.283

[Step 6] Filter: (ed.encounter_id is not null)
         Execution Time: 0.00697..0.0078 ms
         Rows: 1
         Cost: 0.283

[Step 7] Table scan on d
         Execution Time: 0.0219..0.0234 ms
         Rows: 3
         Cost: 0.55

[Step 8] Nested loop inner join
         Execution Time: 0.0381..0.0479 ms
         Rows: 3
         Cost: 1.6

[Step 9] Nested loop inner join
         Execution Time: 0.0445..0.0697 ms
         Rows: 3
         Cost: 2.65

[Step 10] Nested loop inner join
         Execution Time: 0.0483..0.0795 ms
         Rows: 3
         Cost: 3.7

[Step 11] Nested loop inner join
         Execution Time: 0.0518..0.0883 ms
         Rows: 3
         Cost: 4.75

[Step 12] Stream results
         Execution Time: 0.055..0.0946 ms
         Rows: 3
         Cost: 4.75

[Step 13] Sort: d.icd10_code, pr.cpt_code
         Execution Time: 0.109..0.11 ms
         Rows: 7

[Step 14] Group aggregate: count(distinct encounters.encounter_id)
         Execution Time: 0.114..0.117 ms
         Rows: 5

[Step 15] Stream results
         Execution Time: 0.116..0.12 ms
         Rows: 5

[Step 16] Sort: encounter_count DESC
         Execution Time: 0.126..0.127 ms
         Rows: 5

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.126 ms

Total Rows Scanned:   46.00

Total Query Cost:     19.70

================================================================================

### **DETAILED EXPLANATION OF THE OLTP 30-DAY READMISSION RATE SQL STATEMENT**

In [44]:
explained_sql = f"EXPLAIN ANALYZE {readmissionRateOltpContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Table scan on e
         Execution Time: 0.0086..0.0128 ms
         Rows: 4
         Cost: 0.65

[Step 2] Filter: ((e.encounter_type = 'Inpatient') and (e.discharge_date is not null))
         Execution Time: 0.0135..0.0173 ms
         Rows: 4
         Cost: 0.65

[Step 3] Sort: e.patient_id, e.encounter_date
         Execution Time: 0.0292..0.0293 ms
         Rows: 4
         Cost: 0.65

[Step 4] Window aggregate with buffering: lead(e.encounter_date) OVER (PARTITION BY e.patient_id ORDER BY e.encounter_date )
         Execution Time: 0.0481..0.0481 ms
         Rows: 4
         Cost: 0

[Step 5] Temporary table
         Execution Time: 0.0518..0.0518 ms
         Rows: 4
         Cost: 0.922

[Step 6] Table scan on <temporary>
         Execution Time: 0.0524..0.0526 ms
         Rows: 4
         Cost: 1.56

[Step 7] Window aggregate with buffering: lead(e.encounter_type) OVER (PARTITION BY e.patient_id ORDER BY e.encounter_date )
         Execution Time: 0.0595..0.0595 ms
         Rows: 4
         Cost: 0

[Step 8] Materialize CTE inpatient_encounters
         Execution Time: 0.068..0.068 ms
         Rows: 4
         Cost: 0.922

[Step 9] Index lookup on ie using <auto_key0> (provider_id = p.provider_id)
         Execution Time: 0.0239..0.0241 ms
         Rows: 2
         Cost: 1.2

[Step 10] Single-row index lookup on s using PRIMARY (specialty_id = p.specialty_id)
         Execution Time: 0.0067..0.00673 ms
         Rows: 1
         Cost: 0.283

[Step 11] Covering index scan on p using specialty_id
         Execution Time: 0.028..0.0307 ms
         Rows: 3
         Cost: 0.55

[Step 12] Filter: (p.specialty_id is not null)
         Execution Time: 0.0287..0.0319 ms
         Rows: 3
         Cost: 0.55

[Step 13] Nested loop inner join
         Execution Time: 0.0432..0.0539 ms
         Rows: 3
         Cost: 1.6

[Step 14] Nested loop inner join
         Execution Time: 0.116..0.129 ms
         Rows: 12
         Cost: 4.3

[Step 15] Aggregate using temporary table
         Execution Time: 0.147..0.147 ms
         Rows: 1

[Step 16] Table scan on <temporary>
         Execution Time: 0.148..0.148 ms
         Rows: 1

[Step 17] Sort: readmission_rate_percent DESC
         Execution Time: 0.16..0.16 ms
         Rows: 1

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.160 ms

Total Rows Scanned:   59.00

Total Query Cost:     13.84

================================================================================

### **DETAILED EXPLANATION OF THE OLTP REVENUE BY SPECIALTY AND MONTH SQL STATEMENT**

In [45]:
explained_sql = f"EXPLAIN ANALYZE {revenueBySpecialtyOltpContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Single-row index lookup on s using PRIMARY (specialty_id = p.specialty_id)
         Execution Time: 0.0021..0.00215 ms
         Rows: 1
         Cost: 0.3

[Step 2] Single-row index lookup on p using PRIMARY (provider_id = e.provider_id)
         Execution Time: 0.00225..0.00225 ms
         Rows: 1
         Cost: 0.3

[Step 3] Filter: (p.specialty_id is not null)
         Execution Time: 0.0024..0.0025 ms
         Rows: 1
         Cost: 0.3

[Step 4] Single-row index lookup on e using PRIMARY (encounter_id = b.encounter_id)
         Execution Time: 0.00685..0.0069 ms
         Rows: 1
         Cost: 0.3

[Step 5] Filter: (e.provider_id is not null)
         Execution Time: 0.0071..0.00715 ms
         Rows: 1
         Cost: 0.3

[Step 6] Table scan on b
         Execution Time: 0.0219..0.0255 ms
         Rows: 2
         Cost: 0.45

[Step 7] Filter: (b.encounter_id is not null)
         Execution Time: 0.0229..0.0269 ms
         Rows: 2
         Cost: 0.45

[Step 8] Nested loop inner join
         Execution Time: 0.0348..0.0428 ms
         Rows: 2
         Cost: 1.15

[Step 9] Nested loop inner join
         Execution Time: 0.0395..0.0483 ms
         Rows: 2
         Cost: 1.85

[Step 10] Nested loop inner join
         Execution Time: 0.044..0.0535 ms
         Rows: 2
         Cost: 2.55

[Step 11] Aggregate using temporary table
         Execution Time: 0.0777..0.0777 ms
         Rows: 2

[Step 12] Table scan on <temporary>
         Execution Time: 0.0787..0.0791 ms
         Rows: 2

[Step 13] Sort: total_allowed_amount DESC
         Execution Time: 0.0935..0.0937 ms
         Rows: 2

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.093 ms

Total Rows Scanned:   21.00

Total Query Cost:     7.95

================================================================================

## **ONLINE ANALYTICAL PROCESSING (OLAP)**

## **CREATE DIMENSION TABLES**

### **DATE DIMENSION**

In [46]:
#Reads the sql script
dateDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "dateDimension.sql")

#Creates the orders table
%sql $dateDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PATIENT DIMENSION**

In [47]:
#Reads the sql script
patientDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "patientDimension.sql")

#Creates the orders table
%sql $patientDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROVIDER DIMENSION**

In [48]:
#Reads the sql script
providerDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "providerDimension.sql")

#Creates the orders table
%sql $providerDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **SPECIALTY DIMENSION**

In [49]:
#Reads the sql script
specialtyDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "specialtyDimension.sql")

#Creates the orders table
%sql $specialtyDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DEPARTMENT DIMENSION**

In [50]:
#Reads the sql script
departmentDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "departmentDimension.sql")

#Creates the orders table
%sql $departmentDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare

0 rows affected.

[]

### **ENCOUNTER TYPE DIMENSION**

In [51]:
#Reads the sql script
encounterTypeDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "encounterTypeDimension.sql")

#Creates the orders table
%sql $encounterTypeDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **DIAGNOSIS DIMENSION**

In [52]:
#Reads the sql script
diagnosisDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "diagnosisDimension.sql")

#Creates the orders table
%sql $diagnosisDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **PROCEDURE DIMENSION**

In [53]:
#Reads the sql script
procedureDimensionContent = read_sql_file(project_root / "OLAP" / "DDL" / "Dimension_Tables" / "procedureDimension.sql")

#Creates the orders table
%sql $procedureDimensionContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **FACT ENCOUNTER TABLE**

In [54]:
#Reads the sql script
factEncounterContent = read_sql_file(project_root / "OLAP" / "DDL" / "Fact_Tables" / "factEncounter.sql")

In [55]:
%%sql 
$factEncounterContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **BRIDGE TABLES**

### **BRIDGE ENCOUNTER DIAGNOSIS**

In [56]:
#Reads the sql script
bridgeEncounterDiagnosisContent = read_sql_file(project_root / "OLAP" / "DDL" / "Bridge_Tables" / "bridgeEncounterDiagnosis.sql")

#Creates the orders table
%sql $bridgeEncounterDiagnosisContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **BRIDGE ENCOUNTER PROCEDURES**

In [57]:
#Reads the sql script
bridgeEncounterProcedureContent = read_sql_file(project_root / "OLAP" / "DDL" / "Bridge_Tables" / "bridgeEncounterProcedure.sql")

#Creates the orders table
%sql $bridgeEncounterProcedureContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare

0 rows affected.

[]

## **ETL DATA FROM OLTP TABLES INTO OLAP DIMENSION TABLES**

### **POPULATE DEPARTMENT DIMENSION**

In [58]:
#Reads the sql script
populateDepartmentContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateDepartmentDim.sql")

#Creates the orders table
%sql $populateDepartmentContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE DATE DIMENSION**

In [59]:
#Reads the sql script
populateDateContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateDateDim.sql")

#Creates the orders table
%sql $populateDateContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1461 rows affected.

[]

### **POPULATE SPECIALTY DIMENSION**

In [60]:
#Reads the sql script
populateSpecialtyContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateSpecialtyDim.sql")

#Creates the orders table
%sql $populateSpecialtyContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE ENCOUNTER TYPE DIMENSION**

In [61]:
#Reads the sql script
populateEncounterTypeContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateEncounterTypeDim.sql")

#Creates the orders table
%sql $populateEncounterTypeContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE PATIENT DIMENSION**

In [62]:
#Reads the sql script
populatePatientDimContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populatePatientDim.sql")

#Creates the orders table
%sql $populatePatientDimContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE PROVIDER DIMENSION**

In [63]:
#Reads the sql script
populateProviderDimContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateProviderDim.sql")

#Creates the orders table
%sql $populateProviderDimContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
(pymysql.err.OperationalError) (1054, "Unknown column 'specialty_key' in 'field list'")
[SQL: INSERT INTO dim_provider ( provider_id, provider_name, credential, specialty_key, department_key ) SELECT p.provider_id, CONCAT(p.first_name, ' ' , p.last_name), p.credential, ds.specialty_key, dd.department_key FROM providers p JOIN dim_specialty ds ON ds.specialty_id = p.specialty_id JOIN dim_department dd ON dd.department_id = p.department_id ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### **POPULATE DIAGNOSIS DIMENSION**

In [64]:
#Reads the sql script
populateDiagnosisDimContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateDiagnosisDim.sql")

#Creates the orders table
%sql $populateDiagnosisDimContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE PROCEDURE DIMENSION**

In [65]:
#Reads the sql script
populateProcedureDimContent = read_sql_file(project_root / "OLAP" / "ETL" / "Dimensions" / "populateProcedureDim.sql")

#Creates the orders table
%sql $populateProcedureDimContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
3 rows affected.

[]

### **POPULATE ENCOUNTER FACT**

In [66]:
#Reads the sql script
populateEncounterFactContent = read_sql_file(project_root / "OLAP" / "ETL" / "Facts" / "populateEncounterFact.sql")

#Creates the orders table
%sql $populateEncounterFactContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
(pymysql.err.OperationalError) (1054, "Unknown column 'dprov.department_key' in 'on clause'")
[SQL: INSERT INTO fact_encounter ( encounter_id, date_key, discharge_date_key, patient_key, provider_key, specialty_key, department_key, encounter_type_key, diagnosis_count, procedure_count, total_allowed_amount, length_of_stay, is_readmission_flag ) SELECT e.encounter_id, /* Encounter date key */ CAST(DATE_FORMAT(e.encounter_date, '%%Y%%m%%d' ) AS UNSIGNED) AS date_key, /* Discharge date key (nullable) */ CASE WHEN e.discharge_date IS NOT NULL THEN CAST(DATE_FORMAT(e.discharge_date, '%%Y%%m%%d' ) AS UNSIGNED) ELSE NULL END AS discharge_date_key, dp.patient_key, dprov.provider_key, ds.specialty_key, dd.department_key, det.encounter_type_key, /* Pre-aggregated counts */ COALESCE(ed.diagnosis_count, 0) AS diagnosis_count, COALESCE(ep.procedure_count, 0) AS procedure_count, /* Pre-aggregated revenue */ COALESCE(b.total_allowed_amount, 0.00) AS total_allowed_amount, /* Length of stay */ CASE WHEN e.discharge_date IS NOT NULL THEN DATEDIFF(e.discharge_date, e.encounter_date) ELSE NULL END AS length_of_stay, /* Placeholder for readmission */ 0 AS is_readmission_flag FROM encounters e /* Dimension joins */ JOIN dim_patient dp ON dp.patient_id = e.patient_id JOIN dim_provider dprov ON dprov.provider_id = e.provider_id JOIN dim_specialty ds ON ds.specialty_key = dprov.specialty_key JOIN dim_department dd ON dd.department_key = dprov.department_key JOIN dim_encounter_type det ON det.encounter_type_name = e.encounter_type /* Pre-aggregated fact sources */ LEFT JOIN ( SELECT encounter_id, COUNT(DISTINCT diagnosis_id) AS diagnosis_count FROM encounter_diagnoses GROUP BY encounter_id ) ed ON ed.encounter_id = e.encounter_id LEFT JOIN ( SELECT encounter_id, COUNT(DISTINCT procedure_id) AS procedure_count FROM encounter_procedures GROUP BY encounter_id ) ep ON ep.encounter_id = e.encounter_id LEFT JOIN ( SELECT encounter_id, SUM(allowed_amount) AS total_allowed_amount FROM billing GROUP BY encounter_id ) b ON b.encounter_id = e.encounter_id;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [67]:
%%sql 

SELECT * FROM fact_encounter;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **POPULATE ENCOUNTER DIAGNOSIS BRIDGE TABLE**

In [68]:
#Reads the sql script
populateEncounterDiagContent = read_sql_file(project_root / "OLAP" / "ETL" / "Bridge_Tables" / "populateEncounterDiag.sql")

#Creates the orders table
%sql $populateEncounterDiagContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

In [69]:
%%sql 

SELECT * FROM bridge_encounter_diagnosis;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **POPULATE ENCOUNTER PROCEDURE BRIDGE TABLE**

In [70]:
#Reads the sql script
populateEncounterProContent = read_sql_file(project_root / "OLAP" / "ETL" / "Bridge_Tables" / "populateEncounterPro.sql")

#Creates the orders table
%sql $populateEncounterProContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

In [71]:
%%sql 

SELECT * FROM bridge_encounter_procedure;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **VALIDATION QUERIES**

### **OLTP ENCOUNTER AND OLAP ENCOUNTER FACT ROW COUNT CHECK**

In [72]:
%sql SELECT COUNT(*) FROM encounters;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[(4,)]

In [73]:
%sql SELECT COUNT(*) FROM fact_encounter;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[(0,)]

### **OLTP AND OLAP REVENUE CHECK**

In [74]:
%%sql 

SELECT SUM(allowed_amount) AS TOTAL_AMOUNT

FROM billing;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[(Decimal('10280.00'),)]

In [75]:
%%sql 

SELECT SUM(total_allowed_amount) AS TOTAL_AMOUNT

FROM fact_encounter;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.

[(None,)]

## **ANALYTICAL QUERIES USING THE STAR SCHEMA**

### **MONTHLY ENCOUNTERS BY SPECIALTY**

In [76]:
#Reads the sql script
monthlyEncountersOlapContent = read_sql_file(project_root / "OLAP" / "Analytical_Queries" / "monthlyEncounters.sql")

#Creates the orders table
%sql $monthlyEncountersOlapContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **TOP DIAGNOSIS PROCEDURES**

In [77]:
#Reads the sql script
topDiagnosisProceduresOlapContent = read_sql_file(project_root / "OLAP" / "Analytical_Queries" / "topDiagnosisProcedures.sql")

#Creates the orders table
%sql $topDiagnosisProceduresOlapContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **30-DAY REDADMISSION RATE**

In [78]:
#Reads the sql script
readmissionRateOlapContent = read_sql_file(project_root / "OLAP" / "Analytical_Queries" / "readmissionRate.sql")

#Creates the orders table
%sql $readmissionRateOlapContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

### **REVENUE BY SPECIALTY AND MONTH**

In [79]:
#Reads the sql script
revenueBySpecialtyOlapContent = read_sql_file(project_root / "OLAP" / "Analytical_Queries" / "revenueBySpecialty.sql")

#Creates the orders table
%sql $revenueBySpecialtyOlapContent;

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
0 rows affected.

[]

## **OLAP ANALYTICAL QUERIES ANALYSIS**

### **DETAILED EXPLANATION OF THE OLAP MONTHLY ENCOUNTERS BY SPECIALITY SQL STATEMENT**

In [80]:
explained_sql = f"EXPLAIN ANALYZE {revenueBySpecialtyOlapContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Single-row index lookup on d using PRIMARY (date_key = f.date_key)
         Rows: 1
         Cost: 0.35

[Step 2] Single-row index lookup on s using PRIMARY (specialty_key = f.specialty_key)
         Rows: 1
         Cost: 0.35

[Step 3] Table scan on f
         Execution Time: 0.0202..0.0202 ms
         Rows: 1
         Cost: 0.35

[Step 4] Nested loop inner join
         Execution Time: 0.0207..0.0207 ms
         Rows: 1
         Cost: 0.7

[Step 5] Nested loop inner join
         Execution Time: 0.0211..0.0211 ms
         Rows: 1
         Cost: 1.05

[Step 6] Aggregate using temporary table
         Execution Time: 0.0342..0.0342 ms
         Rows: 0

[Step 7] Table scan on <temporary>
         Execution Time: 0.0352..0.0352 ms
         Rows: 0

[Step 8] Sort: total_allowed_amount DESC
         Execution Time: 0.0415..0.0415 ms
         Rows: 0

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.042 ms

Total Rows Scanned:   5.00

Total Query Cost:     2.80

================================================================================

### **DETAILED EXPLANATION OF THE OLAP TOP DIAGNOSIS-PROCEDURE PAIRS SQL STATEMENT**

In [81]:
explained_sql = f"EXPLAIN ANALYZE {topDiagnosisProceduresOlapContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Single-row index lookup on proc using PRIMARY (procedure_key = bp.procedure_key)
         Rows: 1
         Cost: 0.35

[Step 2] Single-row index lookup on diag using PRIMARY (diagnosis_key = bd.diagnosis_key)
         Rows: 1
         Cost: 0.35

[Step 3] Covering index lookup on bp using PRIMARY (encounter_key = bd.encounter_key)
         Rows: 1
         Cost: 0.35

[Step 4] Covering index scan on bd using PRIMARY
         Execution Time: 0.019..0.019 ms
         Rows: 1
         Cost: 0.35

[Step 5] Nested loop inner join
         Execution Time: 0.0193..0.0193 ms
         Rows: 1
         Cost: 0.7

[Step 6] Nested loop inner join
         Execution Time: 0.0195..0.0195 ms
         Rows: 1
         Cost: 1.05

[Step 7] Nested loop inner join
         Execution Time: 0.0201..0.0201 ms
         Rows: 1
         Cost: 1.4

[Step 8] Aggregate using temporary table
         Execution Time: 0.0339..0.0339 ms
         Rows: 0

[Step 9] Table scan on <temporary>
         Execution Time: 0.0354..0.0354 ms
         Rows: 0

[Step 10] Sort: encounter_count DESC
         Execution Time: 0.0412..0.0412 ms
         Rows: 0

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.041 ms

Total Rows Scanned:   7.00

Total Query Cost:     4.55

================================================================================

### **DETAILED EXPLANATION OF THE OLAP 30-DAY READMISSION RATE SQL STATEMENT**

In [82]:
explained_sql = f"EXPLAIN ANALYZE {readmissionRateOlapContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Single-row index lookup on s using PRIMARY (specialty_key = f.specialty_key)
         Rows: 1
         Cost: 0.35

[Step 2] Index lookup on f using idx_fact_encounter_type (encounter_type_key = '2')
         Execution Time: 0.0108..0.0108 ms
         Rows: 1
         Cost: 0.35

[Step 3] Nested loop inner join
         Execution Time: 0.0121..0.0121 ms
         Rows: 1
         Cost: 0.7

[Step 4] Aggregate using temporary table
         Execution Time: 0.0276..0.0276 ms
         Rows: 0

[Step 5] Table scan on <temporary>
         Execution Time: 0.029..0.029 ms
         Rows: 0

[Step 6] Sort: readmission_rate DESC
         Execution Time: 0.0349..0.0349 ms
         Rows: 0

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.035 ms

Total Rows Scanned:   3.00

Total Query Cost:     1.40

================================================================================

### **DETAILED EXPLANATION OF THE OLAP REVENUE BY SPECIALTY AND MONTH SQL STATEMENT**

In [83]:
explained_sql = f"EXPLAIN ANALYZE {revenueBySpecialtyOlapContent}"
result = %sql $explained_sql
print_query_plan(result)

   mysql+pymysql://root:***@localhost:3306/
 * mysql+pymysql://root:***@localhost:3306/healthcare
1 rows affected.
================================================================================
QUERY EXECUTION PLAN
================================================================================

[Step 1] Single-row index lookup on d using PRIMARY (date_key = f.date_key)
         Rows: 1
         Cost: 0.35

[Step 2] Single-row index lookup on s using PRIMARY (specialty_key = f.specialty_key)
         Rows: 1
         Cost: 0.35

[Step 3] Table scan on f
         Execution Time: 0.0207..0.0207 ms
         Rows: 1
         Cost: 0.35

[Step 4] Nested loop inner join
         Execution Time: 0.0211..0.0211 ms
         Rows: 1
         Cost: 0.7

[Step 5] Nested loop inner join
         Execution Time: 0.0218..0.0218 ms
         Rows: 1
         Cost: 1.05

[Step 6] Aggregate using temporary table
         Execution Time: 0.0354..0.0354 ms
         Rows: 0

[Step 7] Table scan on <temporary>
         Execution Time: 0.0363..0.0363 ms
         Rows: 0

[Step 8] Sort: total_allowed_amount DESC
         Execution Time: 0.0433..0.0433 ms
         Rows: 0

================================================================================
PERFORMANCE METRICS SUMMARY
================================================================================

Total Execution Time: 0.043 ms

Total Rows Scanned:   5.00

Total Query Cost:     2.80

================================================================================